.pokemon-card-fire {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(235, 81, 46);
}
.pokemon-card-water {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(0, 132, 255);
}
.pokemon-card-grass {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(54, 174, 2);
}
.pokemon-card-rock {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(133, 87, 41);
}
.pokemon-card-electric {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(255, 242, 0);
}
.pokemon-card-bug {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(135, 193, 28);
}
.pokemon-card-normal {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(205, 203, 203);
}
.pokemon-card-poison {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(158, 0, 158);
}
.pokemon-card-ground {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(133, 87, 41);
}
.pokemon-card-fairy {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(205, 203, 203);
}
.pokemon-card-fighting {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(147, 66, 44);
}
.pokemon-card-psychic {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(198, 0, 198);
}
.pokemon-card-ghost {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(109, 0, 109);
}
.pokemon-card-ice {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: rgb(0, 183, 255);
}
.pokemon-card-dragon {
  width: 15rem;
  height: 20rem;
  border: 0.5rem solid rgb(255, 197, 51);
  align-items: center;
  background-color: silver;
}
